@model Recipe
@{
    ViewData["Title"] = "EditRecipe";
}

<link href="~/css/Addrecipe.css" rel="stylesheet" />

<h1>EditRecipe</h1>

<form asp-controller="Home" asp-action="EditRecipe">
    <h3>1. Navn på opskrift:</h3>
    <input placeholder="@Model.Name" type="text" name="title" required />
    <input type="hidden" name="id" value="@Model.ID" />
    <div id="ingredients">
        <h3>2. Ret ingredienser:</h3>
        @foreach (ModelIngredient i in Model.Ingredients)
        {
            <p>
                <input type="text" name="ingredients" required value="@i.Ingredient.Name" /> <input type="number" name="amount" value="@i.amount" required />
                <select required name="unit">
                    <option value="stk">stk</option>
                    <option value="g">g</option>
                    <option value="dl">dl</option>
                    <option value="tsk">tsk</option>
                    <option value="spsk">spsk</option>
                </select>
            </p>
        }
    </div>
    <div class="plus-minus">
        <button class="fas fa-plus" onclick="addIng(event)"></button>
        <button class="fas fa-minus" onclick="remove(event)"></button>
    </div>
    <h3 class="tid">3. tid i minutter</h3>
    <input type="number" value="@Model.Time" name="time" required />
    <br />
    <div>
        <h3>4. Fremgangsmåde</h3>
        <ol id="description_steps">
            @foreach (string s in Model.Guide)
            {
                <li><textarea name="guide">@s</textarea></li>
            }
        </ol>
    </div>
    <div class="plus-minus">
        <button class="fas fa-plus" onclick="addStep(event)"></button>
        <button class="fas fa-minus" onclick="fjerntrin(event)"></button>
    </div>
    <button type="submit" class="submit">Rediger opskrift</button>
</form>
<script src="~/js/AddIngredient.js">

</script>