@model Recipe
@{
    ViewData["Title"] = "EditRecipe";
}

    <link href="~/css/Addrecipe.css" rel="stylesheet" />

<h1>EditRecipe</h1>
<form asp-controller="Home" asp-action="EditRecipe">
    <h3>Navn på opskrift: <input type="text" name="title" required value="@Model.Name" /></h3>
    <input type="hidden" name="id" value="@Model.ID" />
    <div id="ingredients">
        @foreach (ModelIngredient i in Model.Ingredients)
        {
            <div>
                Tilføj ingrediens: <input type="text" name="ingredients" required value="@i.Ingredient.Name" /> <input type="number" name="amount" value="@i.amount" required />
                <select required name="unit">
                    <option value="stk">stk</option>
                    <option value="g">g</option>
                    <option value="dl">dl</option>
                    <option value="tsk">tsk</option>
                    <option value="spsk">spsk</option>
                </select>
            </div>
        }
    </div>
    <button onclick="addIng(event)">Tilføj ingrediens</button>
    <button onclick="remove(event)">Fjern ingediens</button>
    <br />
    <input type="number" value="@Model.Time" name="time" required /> tid i minutter
    <br />
    <div>
        <ol id="description_steps">
            @foreach (string s in Model.Guide)
            {
                <li><input type="text" name="guide" value="@s" required /></li>
            }
        </ol>
    </div>
    <button onclick="addStep(event)">Tilføj trin</button>
    <button onclick="fjerntrin(event)">Fjern Trin</button>
    <button type="submit">Rediger opskrift</button>
</form>
<script src="~/js/AddIngredient.js">

</script>