@using kogebogen.Repository;
@model Repositories
@{
    ViewData["Title"] = "Recipes";
}

<h1>Recipes</h1>
<button class="collapsible">Filtrer<i class="fas fa-sort-down"></i></button>
<div class="content" style="display:none;">
    <div class="slidecontainer">
        <p id="filterPrice"></p>
        20 kr <input type="range" class="slider" id="priceRange" name="rangeInput" min="20" max="120" value="70"> 120 kr

        <p id="filterTime"></p>
        10 min <input type="range" class="slider" id="timeRange" name="rangeInput" min="10" max="180" value="85"> 180 min
    </div>
</div>

<button class="collapsible">Sortér efter <i class="fas fa-sort-down"></i></button>
<div class="content" style="display:none;">
    <input type="checkbox" name="sorting" value="newest"> Nyeste <br />
    <input type="checkbox" name="sorting" value="price1"> Pris lav til høj <br />
    <input type="checkbox" name="sorting" value="price2"> Pris høj til lav <br />
    <input type="checkbox" name="sorting" value="a-z"> A til Z <br />
    <input type="checkbox" name="sorting" value="totalTime"> Tid i alt <br />
</div>


@foreach (Recipe r in Model.CookBook)
{
    <div class="recipes">
        <hr width="50%" color="black" />
        <div class="flex-container" style="display:flex; justify-content:space-between;">
            <!-- Klik ind på den enkelte opskrift -->
            <form asp-controller="Home" method="post" asp-action="TheRecipe">
                <input type="hidden" name="OpskriftID" value="@r.ID" />
                <h2 style="width:50vw"><button type="submit">@r.Name</button></h2>
            </form>
            <img src="~/img/@r.ImageUrl" alt="@r.Name" style="width:20vw; height:20vh;" />

            <form asp-action="Addfav" asp-controller="Home" method="post">
                <input type="hidden" name="r" value="@r.ID" />
                <button type="submit" class="fas fa-heart"></button>
            </form>

            <form asp-action="Addtofoodplan" asp-controller="Home" method="post">
                <input type="hidden" name="r" value="@r.ID" />
                <button type="submit" class="fas fa-calendar-alt"></button>
            </form>

        </div>
        <p class="totalPrice"> @r.TotalPrice</p>
        <p class="totalTime"> @r.Time</p>
    </div>
}


<script src="~/js/recipes.js">
</script>
