@using kogebogen.Repository;
@model Repositories
@{
ViewData["Title"] = "Recipes";
}

<link rel="stylesheet" type="text/css" href="~/css/recipes.css">

<h1>Opskrifter</h1>
<button class="collapsible">
    <span class="fas fa-filter"></span>
</button>
<div class="content" id="content">
    <div class="slidecontainer">
        <p id="filterPrice"></p>
        20 kr <input type="range" class="slider" id="priceRange" name="rangeInput" min="20" max="120" value="70"> 120 kr

        <p id="filterTime"></p>
        10 min <input type="range" class="slider" id="timeRange" name="rangeInput" min="10" max="180" value="85"> 180
        min
    </div>
</div>
<br />

<button class="collapsible">
    <span class="fas fa-sort"></span>
</button>
<div class="content" style="display:none;" id="sortContent">
    <input type="checkbox" name="sorting" value="newest"> Nyeste <br />
    <input type="checkbox" name="sorting" value="price1"> Pris lav til høj <br />
    <input type="checkbox" name="sorting" value="price2"> Pris høj til lav <br />
    <input type="checkbox" name="sorting" value="a-z"> A til Z <br />
    <input type="checkbox" name="sorting" value="totalTime"> Tid i alt <br />
</div>


@foreach (Recipe r in Model.CookBook)
{
<div class="recipes">
    <hr />
    <div class="flex-container">
        <!-- Klik ind på den enkelte opskrift -->
        <form asp-controller="Home" method="post" asp-action="TheRecipe" class="theRecipe">
            <input type="hidden" name="OpskriftID" value="@r.ID" />
            <h2>
                <button type="submit" class="theRecipeBtn">@r.Name</button>
            </h2>
            <img src="~/img/@r.ImageUrl" alt="@r.Name" class="theRecipeImg" />
        </form>

        <div class="addButtons">
                    <button onclick="addToFavList(@r.ID)" class="fas fa-heart love"></button>

            <form asp-action="Addtofoodplan" asp-controller="Home" method="post" class="addTo">
                <input type="hidden" name="r" value="@r.ID" />
                <button type="submit" class="fas fa-calendar-alt"></button>
            </form>
        </div>
    </div>
    <p class="totalPrice"> @r.TotalPrice</p>
    <p class="totalTime"> @r.Time</p>
</div>
}
<script src="~/js/recipes.js">
</script>